/////////////// Style.scss COOKIES


body  {
    background-color: green;
}

/// Image principal 

.terre {
    background-image: url(/assets/IMG/terre.png); // Terre IMG principal
    width: 10%;
    height: auto;
}

h2 {
    color: green;
}
